.btn {
    transition: all 0.33s;
    text-transform: uppercase;
    letter-spacing: 1px;

    &.btn-primary {
        color: rgba(0,0,0,0.6);
    }

    &.btn-secondary {
        &:focus,
        &:hover {
            color: white;
        }
    }

    &:focus,
    &:hover {
        transform: scale(1.06);
    }
}
