.card-detail-info {

    .card-img-top {
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            padding-top: 50%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .background-image {
            img {
                mix-blend-mode: plus-lighter;
            }
        }
    }
    img {
        overflow: hidden;
        opacity: 0.83;
    }

    // h1, h2, h3, h4, h5, h6 {
    //     color: $dark;
    //     opacity: 0.8;
    // }
}
