.card-pictures-grid {
    overflow: hidden;
    background-color: white;

    .row {
        height: 95vh;
        min-height: 650px;
    }

    .picture-wrapper,
    .info-wrapper {
        background-color: $dark;
        height: 100%;
    }

    .picture-wrapper {
        background-position: 50% 25%!important;
        background-size: cover!important;
        // background-blend-mode: luminosity!important;
    }
}
