.clock-section {
    background: $dark;
    color: white;
    padding: 3rem 0;

    .clock {
        max-width: 80%;
        display: flex;
        margin-inline-start: auto;
        margin-inline-end: auto;

        .item {
            text-align: center;
            flex: 1;

            .num {
                font-family: $headings-font-family;
                font-weight: 400;
                @include font-size(3rem);
                line-height: 1;
            }

            .text {
                &.caption {
                    @include font-size(0.8rem);
                    font-weight: 600;
                    color: $secondary;
                    margin-top: 0.5rem;
                }

                &.single {
                    display: none;
                }
            }
        }
    }
}
