.clock-section {
    background: $dark;
    color: white;
    padding: 3rem 0;

    .clock {
        margin-inline-start: auto;
        margin-inline-end: auto;

        @include media-breakpoint-up(md) {
            display: flex;
        }

        @include media-breakpoint-up(lg) {

        }

        @include media-breakpoint-up(xl) {
            max-width: 80%;
        }

        .item {
            text-align: center;
            flex: 1;

            &:not(:last-child) {
                margin-bottom: 2rem;

                @include media-breakpoint-up(md) {
                    margin-bottom: 0;
                }
            }

            .num {
                font-family: $headings-font-family;
                font-weight: 400;
                @include font-size(3rem);
                line-height: 1;
            }

            .text {
                &.caption {
                    @include font-size(0.8rem);
                    font-weight: 600;
                    color: $secondary;
                    margin-top: 0.5rem;
                }

                &.single {
                    display: none;
                }
            }
        }
    }
}
