header {
    position: relative;
    overflow: hidden;
    color:white;
    // background-color: $dark;
    background-color: $picture-background-color;

    height: 80vh;
    min-height: 400px;
    max-height: 700px;

    display: flex;
    align-items: center;

    .container {
        position: relative;
        z-index: 10;
        width: 100%;
        text-align: center;
        padding-top: 10vh;

        &,
        h1, h2, h3 {
            color: white;
        }

        h1 {
            font-family: 'Great Vibes', cursive;
            @include font-size(6rem);
        }

        .caption + h1 {
            @include media-breakpoint-up(md) {
                margin-top: -0.5rem;
            }

            @include media-breakpoint-up(lg) {
                margin-top: -1rem;
            }
        }

        .down-icon {
            display: inline-block;
            font-size: 1.5rem;
        }
    }

    .background-image {
        background-position: 50% 62%;
    }
}
