header {
    position: relative;
    overflow: hidden;
    color:white;
    // background-color: $dark;
    background-color: $picture-background-color;

    min-height: 400px;
    max-height: 800px;

    @include media-breakpoint-up(md) {
        height: 50vh;
    }

    @include media-breakpoint-up(lg) {
        height: 70vh;
    }

    @include media-breakpoint-up(xl) {
        height: 87vh;
    }

    display: flex;
    align-items: center;
    transform:  transalte3d(0,0,0);

    .container {
        position: relative;
        z-index: 10;
        width: 100%;
        text-align: center;
        padding-top: 10vh;

        &,
        h1, h2, h3 {
            color: white;
        }

        h1 {
            font-family: $font-family-writing;
            @include font-size(6rem);
        }

        .caption + h1 {
            @include media-breakpoint-up(md) {
                margin-top: -0.5rem;
            }

            @include media-breakpoint-up(lg) {
                margin-top: -1rem;
            }
        }

        .down-icon {
            display: inline-block;
            font-size: 1.5rem;
        }
    }

    .background-image {
        img {
            object-position: 42% 50%;

            @include media-breakpoint-up(md) {
                object-position: 30% 50%;
            }

            @include media-breakpoint-up(lg) {
                object-position: 10% 50%;
            }

            @include media-breakpoint-up(xl) {
                object-position: 50% 10%;
            }
        }
    }
}
