.left-right {
    &.odd {
        @include media-breakpoint-up(lg) {
            .col:first-child {
                order: 12;
            }
        }
    }

    .asset {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: $border-radius;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.left-right + .left-right {
    margin-top: 4rem;
}
