.section {
    padding: 3rem 0;

    @include media-breakpoint-up(lg) {
        padding: 3.5rem 0;
    }

    @include media-breakpoint-up(xl) {
        padding: 4rem 0;
    }

    &.collapse {
        padding-top: 0!important;
    }
}
