.timeline-grid-section {

    @include media-breakpoint-down(md) {
        padding-bottom: 0;
    }

    .grid-wrapper {
        @include media-breakpoint-down(md) {
            margin-top: -2.5rem;
        }
    }

    .row {
        .col-content {
            align-self: center;
        }

        @include media-breakpoint-up(xl) {
            min-height: 500px;
        }
    }

    .bard-content {
        padding: 2.5rem 0.5rem;

        @include media-breakpoint-up(md) {
            padding: 3rem 0rem;
        }

        .caption {
            color: darken($secondary, 10%);
        }

        p, ul, ol {
            opacity: 0.6;
        }
    }

    .asset {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        background-color: gray;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
            opacity: 0.90;
        }

        &:after {
            content: '';
            display: block;
            padding-top: 75%;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        @include media-breakpoint-down(md) {
            border-radius: 0!important;

            width: calc( 100% + ( $container-padding-x ) );
            margin-inline-start: calc( $container-padding-x * -0.5 );
        }
    }

    .col.col-asset.left {
        .asset {
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;

            @include media-breakpoint-up(xl) {
                border-top-left-radius: 2rem;
                border-bottom-left-radius: 2rem;
            }
        }
    }

    .col.col-asset.right {
        .asset {
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;

            @include media-breakpoint-up(xl) {
                border-top-right-radius: 2rem;
                border-bottom-right-radius: 2rem;
            }
        }
    }

    .col.col-content.left {
        .bard-content {
            @include media-breakpoint-up(lg) {
                padding: 4rem 4rem 4rem 0rem;
            }

            @include media-breakpoint-up(xl) {
                padding: 4rem 4rem 4rem 3rem;
            }
        }
    }

    .col.col-content.right {
        .bard-content {
            @include media-breakpoint-up(lg) {
                padding: 4rem 0rem 4rem 4rem;
            }

            @include media-breakpoint-up(xl) {
                padding: 4rem 3rem 4rem 4rem;
            }
        }
    }

    .row:first-child {
        .col.col-asset.left {
            .asset {
                border-top-right-radius: 1rem;

                @include media-breakpoint-up(xl) {
                    border-top-right-radius: 2rem;
                }
            }
        }
        .col.col-asset.right {
            .asset {
                border-top-left-radius: 1rem;

                @include media-breakpoint-up(xl) {
                    border-top-left-radius: 2rem;
                }
            }
        }
    }

    .row:last-child {
        .col.col-asset.left {
            .asset {
                border-bottom-right-radius: 1rem;

                @include media-breakpoint-up(xl) {
                    border-bottom-right-radius: 2rem;
                }
            }
        }
        .col.col-asset.right {
            .asset {
                border-bottom-left-radius: 1rem;

                @include media-breakpoint-up(xl) {
                    border-bottom-left-radius: 2rem;
                }
            }
        }
    }
}
