footer {
    position: relative;
    overflow: hidden;
    background-color: $picture-background-color;
    color:white;

    .top-content {
        position: relative;
        z-index: 3;
        text-align: center;
        padding: 8rem 0;
        color: white;

        h1 {
            font-family: $font-family-writing;
            @include font-size(5rem);
        }

        &,
        h1, h2, h3 h4, h5, h6 {
            color: white
        }

        @include media-breakpoint-up(md) {

        }

        @include media-breakpoint-up(lg) {

        }

        @include media-breakpoint-up(xl) {
            padding: 12rem 0;
        }
    }

    .bottom-content {
        position: relative;
        z-index: 3;
        background: $dark;
        overflow: hidden;
        text-align: center;
        padding: 1rem 0;
        display: none;

        * {
            color: rgba($light, 0.4);
        }

        *:last-child {
            margin-bottom: 0;
        }
    }

    .background-image {
        background-position: 50% 75%;
    }
}
