.background-image {
    background-color: $picture-background-color;

    &,
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    img {
        background-size: cover!important;
        background-position: center;
        opacity: 0.5;
        mix-blend-mode: luminosity;
        object-fit: cover;
    }


    &.light {
        opacity: 1;
        mix-blend-mode: initial;

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $secondary;
            opacity: 0.4;
        }
    }
}

.caption {
    font-weight: 600;
    margin: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.5;
}

.rings-svg {
    width: 2.3rem;
    height: auto;
    margin: 0 0 1rem 0;

    @include media-breakpoint-up(lg) {
        width: 2.5rem;
    }

    @include media-breakpoint-up(xl) {
        width: 3rem;
    }
}

.asset-luminosity {
    // background: #fbefcc;
    background: #f6edd3;
    opacity: 0.85;

    img {
        mix-blend-mode: luminosity;
    }

    // &:before {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     box-shadow: inset 0px 0px 40px 80px rgb(244, 244, 239);
    //     z-index: 100;
    //     border-radius: 100%;
    //     transform: scale(1.01);
    // }
}

.text-muted {
    color: rgba($dark, 0.5)!important;
}
