.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover!important;
    opacity: 0.5;
    mix-blend-mode: luminosity;
}

.caption {
    font-weight: 400;
    margin: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.rings-svg {
    width: 2.3rem;
    height: auto;
    margin: 0 0 1rem 0;
}
